<div class="banner-top container-fluid" id="home">
    <!-- header -->
    <app-nav></app-nav>
    <!-- banner -->
    <div class="banner_inner">
        <div class="services-breadcrumb">
            <div class="inner_breadcrumb">

                <ul class="short">
                    <li>
                        <a [routerLink]="['/']">Home</a>
                        <i>|</i>
                    </li>
                    <li>Contacto</li>
                </ul>
            </div>
        </div>

    </div>
    <!--//banner -->
</div>
<!--// header_top -->
<!-- top Products -->
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container">
        <h3 class="tittle-w3layouts text-center my-lg-4 my-4">Contacto</h3>
        <div class="inner_sec">
            <p class="sub text-center mb-lg-5 mb-3">Un placer atenderte</p>
            <div class="address row">

                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-3 address-left text-center">
                            <i class="far fa-map"></i>
                        </div>
                        <div class="col-md-9 address-right text-left">
                            <h6>Matriz</h6>
                            <p>Módulo H local 10-B, Zona Seca, Central de Abastos</p>
                            <hr>
                            <h6>Sucursal</h6>
                            <p>Módulo H local 10-B, Zona Seca, Central de Abastos</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 address-grid">
                    <div class="row address-info">
                        <div class="col-md-3 address-left text-center">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="col-md-9 address-right text-left">
                            <h6>Correo electrónico</h6>
                            <br>
                            <p>Ventas_refrilav@hotmail.com
                                <a href="mailto:ventas_refrilav@hotmail.com"> Enviar Correo</a>
                            </p>
                            <br>
                            <hr>
                            <br>
                            <p>Ventas_refrilav@gmail.com
                                <a href="mailto:ventas_refrilav@gmail.com"> Enviar Correo</a>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 address-grid">
                    <div class="row address-info">
                        <div class="col-md-3 address-left text-center">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="col-md-9 address-right text-left">
                            <h6>Telefonos</h6>
                            <p>Matriz: 9516888359</p>
                            <p>Sucursal: 9511596123</p>
                            <p>Gerente: 9512036655</p>
                            <p>Cotizaciones: 9514128776</p>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<div class="contact-map">

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10002.232280709175!2d-96.73437210414603!3d17.058181495495703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1679585119526!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8657.273969490709!2d-96.73467782668052!3d17.058692701949756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c7232adcf02b93%3A0x5aed5e695748cfa!2zTcOzZHVsbyBI!5e0!3m2!1ses-419!2smx!4v1679585217548!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<!-- <iframe src=""
        class="map" style="border:0" allowfullscreen=""></iframe> -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6698.851247233468!2d-96.73268614543069!3d17.058571718187103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c7226b6a5f5471%3A0x63c4b38c77e61155!2sPerif%C3%A9rico%20156a%2C%20Zona%20Lunes%20Feb%2009%2C%20Centro%2C%2068000%20Oaxaca%20de%20Ju%C3%A1rez%2C%20Oax.!5e0!3m2!1ses-419!2smx!4v1680190784274!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!--footer -->
<app-footer></app-footer>
<!-- //footer -->